<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%file:%line] - %msg%n</pattern>
                </encoder>
        </appender>
        <appender name="Sentry" class="io.sentry.logback.SentryAppender">
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                        <level>WARN</level>
                </filter>
        </appender>

        <root level="WARN" >
                <appender-ref ref="stdout"/>
                <appender-ref ref="Sentry" />
        </root>
        <logger name="org.kairosdb.core.datastore.KairosDatastore" level="INFO" additivity="false">
                <appender-ref ref="stdout"/>
        </logger>
        <logger name="org.kairosdb.datastore.cassandra.cache.CacheWarmingUpLogic" level="DEBUG" additivity="false">
                <appender-ref ref="stdout"/>
        </logger>
</configuration>

