<div class="input-group">
    <input type="text" style="width:50px;margin-right:-1px;" class="form-control" aria-label="..." [(ngModel)]="model.value" (keyup)="modelChange.emit(model)">
    <select style="width:inherit" class="form-control" [(ngModel)]="model.unit" (change)="modelChange.emit(model)" >
        <option [value]="'years'">Years</option>
        <option [value]="'months'">Months</option>
        <option [value]="'weeks'">Weeks</option>
        <option [value]="'days'">Days</option>
        <option [value]="'hours'">Hours</option>
        <option [value]="'minutes'">Minutes</option>
        <option [value]="'seconds'">Seconds</option>
    </select>
    <input type="text" value="ago" style="width:50px;margin-left:-1px;" class="form-control" aria-label="..." disabled>
</div>
