@keyframes slideDown {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.form-control {
    width: 150px;
}

.popup {
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ddd;
    animation: slideDown 0.1s ease-in-out;
    animation-fill-mode: both;
    padding: 15px;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    z-index: 100;
}

.popup label {
    margin-bottom: 0px;
    margin-top: 5px;
}

.popup input[type=range] {
    width: 140px;
}


/* slider bootstrap-like styling */

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 4px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #ffffff;
    border-radius: 1.3px;
    border: 1px solid #269abc;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
    border: 1px solid #000000;
    height: 8px;
    width: 8px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #ffffff;
    border-radius: 1.3px;
    border: 1px solid #269abc;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
    border: 1px solid #000000;
    height: 8px;
    width: 8px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #ededed;
    border: 1px solid #269abc;
    border-radius: 2.6px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 1px solid #269abc;
    border-radius: 2.6px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
    border: 1px solid #000000;
    height: 8px;
    width: 8px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
    height: 0px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
}
