#sudo systemctl enable kairosdb
#sudo systemctl daemon-reload

[Unit]
Description=KairosDB fast time-series database
Documentation=http://www.kairosdb.org
After=network.target

[Service]
Type=simple
ExecStart=BASE_INSTALL_DIR/bin/kairosdb.sh start-systemd
WorkingDirectory=BASE_INSTALL_DIR
Restart=always
TimeoutStopSec=1min

[Install]
Alias=kairos
WantedBy=multi-user.target

