
.ui-widget {
	font-size: 12px;
}

.ui-widget-header {
	/* Remove tab header border */
	border: none;
}

:focus {
	/* Remove outline on tab when it is selected */
	outline: none;
}


.wire-frame {
	border: 1px solid #ddd;
	width: 785px;
	padding: 10px;
}

.component-frame {
	border: 1px solid #ddd;
	padding: 2px;
}

textarea {
	border-color: #ddd;
	padding: 0;
	margin: 0;
	width: 525px;
}

.footnote {
	font-size: 10px;
	padding-top: 5px;;
}

button {
	padding-bottom: 3px;
	margin-left: 4px;
}

.graphSubtitle {
	color: #6d91c6;
	font-size: small;
	text-align: center;
}

.graphTooltip {
	position: absolute;
	display: none;
	border: 2px solid #4572a7;
	padding: 2px;
	background-color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	font-family: MS, serif;
	opacity: 0.80;
}

.tagDialog {
	display:none;
}

a
{
    color: #0066cc;
}

.flotChartSize{
	width: 100%;
	height:300px;
}

.metricNameTable input
{
    width: 650px;
}

.cursorWaiting * {
	cursor: wait;
}

.cursorNormal * {
	cursor: auto;
}

.ui-button, .ui-combobox-input{
	min-height: 2em;
}

#timezone-header {
	float: right;
	color: white;
	background-color: #0066cc;
}
.ui-widget.or {
	padding: 0 2em;
}