<!-- property fields -->
<textarea
    *ngIf="isValidField(psProperty, 'textarea')"
    [(ngModel)]="fieldValue" (ngModelChange)="onPropertyInputChange()" (keyup.enter)="onEnter()"
    style="width:100%;resize:vertical;" class="form-control"
></textarea>

<input
    *ngIf="isValidField(psProperty, 'simple_array')"
    [(ngModel)]="fieldValue" (ngModelChange)="onPropertyInputChange()" (keyup.enter)="onEnter()"
    style="width:300px;" class="form-control"
/>
<kairos-typeahead
    *ngIf="isValidField(psProperty, 'typeahead')"
    [(value)]="fieldValue" (valueChange)="onPropertyInputChange()"
    [typeaheadSource]="suggestions" [typeaheadOptionsLimit]="100" [typeaheadMinLength]="0" (typeaheadOnSelect)="onEnter()"
    class="ui-select-search"
></kairos-typeahead>

<select
    *ngIf="isValidField(psProperty, 'select')"
    [(ngModel)]="fieldValue" (ngModelChange)="onPropertyInputChange()" (keyup.enter)="onEnter()"
    style="width:inherit;" class="form-control"
>
    <option *ngFor="let psPropertyOption of psProperty.options;" [value]="psPropertyOption">
        {{psPropertyOption}}
    </option>
</select>

<div *ngIf="isValidField(psProperty, 'checkbox')" class="checkbox">
    <label style="font-size: 1.0em">
        <input type="checkbox" value="" [(ngModel)]="fieldValue" (ngModelChange)="onPropertyInputChange()">
        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
    </label>
</div>

<input
    *ngIf="isValidField(psProperty, 'input')"
    [(ngModel)]="fieldValue" (ngModelChange)="onPropertyInputChange()" (keyup.enter)="onEnter()"
    style="width:200px;" class="form-control"
/>

<!-- validation text -->
<div class="fieldValidation" *ngIf="psProperty.error">{{psProperty.error}}</div>

<!-- array field -->
<div *ngIf="isValidField(psProperty, 'array')" class="well ui-select-container ui-select-multiple">
    <span *ngIf="valueArray?.length === 0">Array empty,</span>
        <span class="ui-select-match">
            <span *ngFor="let a of valueArray; let idx = index">
                <span class="ui-select-match-item btn btn-default btn-secondary btn-xs"
                    tabindex="-1"
                    type="button"
                    [ngClass]="{'btn-default': true}"
                >
                    <a class="close" style="margin-left: 5px; padding: 0;" (click)="removeSelectedTag(idx)">&times;</a>
                    <span>{{a}}</span>
                </span>
        </span>
    </span>
    press enter to add the value...
</div>
