{"id":"68cef12d-8c14-4099-8670-5ab01df0f1c7","name":"a","rollups":[{"save_as":"kairosdb.datastore.cassandra.write_batch_size.min_rollup","query":{"metrics":[{"name":"kairosdb.datastore.cassandra.write_batch_size.min","aggregators":[{"name":"sum","align_sampling":true,"sampling":{"value":1,"unit":"hours"},"align_start_time":false}]}],"start_relative":{"value":1,"unit":"hours"}}}],"execution_interval":{"value":1,"unit":"days"}}
{"id":"62146ac3-d4e7-4986-87b7-63c6c44d9f8f","name":"b","rollups":[{"save_as":"collectd.disk.sda.disk_merged.write_rollup","query":{"metrics":[{"name":"collectd.disk.sda.disk_merged.write","aggregators":[{"name":"sum","align_sampling":true,"sampling":{"value":1,"unit":"hours"},"align_start_time":false}]}],"start_relative":{"value":1,"unit":"hours"}}}],"execution_interval":{"value":1,"unit":"days"}}